<section>
  <div class="container-fluid">
    <h2>{{list.wishlist_name}}</h2>
    <button class="btn">Add Item</button>
  </div>
</section>

<section>
  
  <div class="accordion" id="list">
    {{#each items as |item|}}
      <h3 class="accordian-header" id="header-{{item.id}}">
        <button class="accordian-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{item.item_name}}
        </button>
      </h3>
      <div id="collapse-{{item.id}}" class="accordion-collapse collaps show" aria-labelledby="header-{{item.id}}" data-bs-parent="list">

      </div>
    {{/each}}
  </div>
  
</section>